:root {
    --electric: #0070f3;
    --deep-dark: #050505;
    --glass: rgba(255, 255, 255, 0.03);
    --border: rgba(255, 255, 255, 0.1);
}

body {
    background-color: var(--deep-dark);
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter', sans-serif;
    overflow: hidden;
}

/* Mancha de color de fondo para el efecto Glass */
.blob {
    position: absolute;
    width: 400px;
    height: 400px;
    background: var(--electric);
    filter: blur(120px);
    border-radius: 50%;
    z-index: -1;
    opacity: 0.4;
    animation: move 10s infinite alternate;
}

@keyframes move {
    from { transform: translate(-50%, -50%); }
    to { transform: translate(20%, 20%); }
}

/* Tarjeta de Vidrio Única */
.login-card {
    width: 100%;
    max-width: 400px;
    background: var(--glass);
    backdrop-filter: blur(25px) saturate(150%);
    -webkit-backdrop-filter: blur(25px);
    border: 1px solid var(--border);
    border-radius: 32px;
    padding: 40px;
    text-align: center;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.5);
    color: white;
}

.logo {
    background: rgba(0, 112, 243, 0.1);
    width: 60px;
    height: 60px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 20px;
}

.icon-electric { color: var(--electric); filter: drop-shadow(0 0 8px var(--electric)); }

h2 { font-size: 2rem; margin-bottom: 8px; }
.subtitle { color: #94a3b8; font-size: 0.9rem; margin-bottom: 30px; }

.input-group { text-align: left; margin-bottom: 20px; }
.input-group label { font-size: 0.8rem; color: #cbd5e1; margin-left: 5px; }

.input-wrapper {
    display: flex;
    align-items: center;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid var(--border);
    border-radius: 14px;
    padding: 0;
    margin-top: 8px;
    transition: 0.3s;
}


.input-wrapper:focus-within {
    border-color: var(--electric);
    box-shadow: 0 0 15px rgba(0, 112, 243, 0.2);
}

.input-wrapper i {
     width: 18px; 
     color: #64748b;
    margin-right: 10px; 
}

.input-wrapper input {
    background: transparent;
    border: none;
    outline: none;
    color: white;
    width: 100%;
}

/* Botón Eléctrico */
.btn-electric {
    width: 100%;
    padding: 16px;
    background: var(--electric);
    color: white;
    border: none;
    border-radius: 14px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    transition: 0.3s;
    box-shadow: 0 10px 20px rgba(0, 112, 243, 0.3);
}

.btn-electric:hover {
    background: #005cc5;
    transform: translateY(-2px);
    box-shadow: 0 15px 30px rgba(0, 112, 243, 0.5);
}

.footer-links { margin-top: 25px; font-size: 0.8rem; color: #64748b; }
.footer-links a { color: #94a3b8; text-decoration: none; transition: 0.3s; }
.footer-links a:hover { color: var(--electric); }
